<nav>
    <div class="logo noselect">
        <a href="/"><h2>tinyNET</h2></a>
    </div>
    <div class="nav-items">
        <div class="nav-items--item-1">
            <% if(pageTo === "signup") {%>
                <a href="/signup"><button class="nav-items--item-1-btn nav-items--item-1-btn--signup">Sign Up&nbsp;&nbsp;<i class="fa-solid fa-user-plus"></i></button></a>
            <% } else {%>
                    <a href="/login"><button class="nav-items--item-1-btn nav-items--item-1-btn--login">Login&nbsp;&nbsp;<i class="fa-solid fa-right-to-bracket"></i></button></a>
            <% } %>
        </div>
    </div>
</nav>